/* nav related style */
body{
    /* font-family: 'lato'sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */

}
.section-title{
    color:#181818;
text-align: center;
font-size: 35px;
font-weight: 700;


}
.section-text{
    color:#757575;
text-align: center;
font-size: 18px;
font-weight: 400;

}

/* nav relted tyle */
.nav-hed{
    background-color: #FFF8F3;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.nav-title{
    font-size: 45px;
     font-weight: 800;
     font-family: 'Open Sans', sans-serif;
     }
  
     nav a{
    text-decoration: none;
   color: #474747;
   }
 

   nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;

}
.text-primary{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;

  }
nav li{
    list-style: none;
    margin-right: 50px;
}
.btn-priary{
    border-radius: 5px;
background: #FD6E0A;
border: 0;
font-size: 20px;
font-weight: 700;
color: #FFFFFF;
padding: 15px 35px;

}
    
}
 /* nav-banner */
 

    
 }
 .banner-stat{
    font-size: 45px;
  margin-bottom: 0px;
    color: #474747;

   
 }
 .banner-contant{

    max-width: 500px;
 }
 .banner-head{
 
font-size: 85px;
font-weight: 700;
color: #181818;
margin-top: 5px;
margin-bottom: 20px;

 }
 .img-hardy{
    width: 584px;
    height: 676px;
 }

 /* main section style */
 main{
    width: 1140px;
    margin: 0 auto;
 }
 main section{
    margin-top: 130px;
 }
 .About{
    margin: 130px 0px;
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
 }
 .about-info-container{
    display: flex;
    justify-content: space-around;
 }
 
 .about-info{
    text-align: center;
 }

 /* what i do */

 #what-i-do-dis{
    padding: 30px 150px 50px 150px;
 }
 .skill-containner{
    display: flex;
    gap:25px;
 }
 .skii{
    padding: 33px 33px;
    
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
 }
 .skill-discripsion{
 s
 }